{{- $root := . -}}
{{- $globalMetadata := .Values.global.metadata -}}
{{- $globalMetadata := .Values.global.metadata -}}
{{- $globalSharedLabels := $globalMetadata.shared.labels -}}
{{- $globalObjectLabels := $globalMetadata.deployment.labels }}
{{- $globalSharedAnnotations := $globalMetadata.shared.annotations }}
{{- $globalObjectAnnotations := $globalMetadata.deployment.annotations }}
{{- $localMetadata := .Values.redis.metadata -}}
{{- $localData := .Values.redis -}}
{{- $localDataSpec := .Values.redis.specs -}}
{{- $localMetadata := .Values.redis.metadata -}}

{{- if and ($localData.enabled) (eq $localData.config.type "local") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $root.Values.global.name }}-redis-deployment
  labels: {{ tpl ( toYaml $globalSharedLabels | nindent 4) $ }}
    {{- if $globalObjectLabels }}{{ tpl ( toYaml $globalObjectLabels | nindent 4) . }}{{- end }}
    {{- if $localMetadata.labels }}{{ tpl (toYaml $localMetadata.labels | nindent 4) . }}{{- end }}
  annotations: {{- if $globalSharedAnnotations }}{{ tpl ( toYaml $globalSharedAnnotations | nindent 4) $ }}{{- end }}
    {{- if $globalObjectAnnotations }}{{ tpl ( toYaml $globalObjectAnnotations | nindent 4) . }}{{- end }}
    {{- if $localMetadata.annotations }}{{ tpl (toYaml $localMetadata.annotations | nindent 4) . }}{{- end }}
spec:
  selector:
    matchLabels:
      app: redis
  replicas: {{ $localDataSpec.replicas }}
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: {{ $localDataSpec.image.name }}:{{ $localDataSpec.image.version }}
          ports:
              - containerPort: {{ $localDataSpec.port }}
          resources:
{{ toYaml $localDataSpec.resources | trim | indent 12 }}
{{- end }}
