{{- $root := . -}}
{{- $globalMetadata := .Values.global.metadata -}}
{{- $globalSharedLabels := $globalMetadata.shared.labels -}}
{{- $globalObjectLabels := $globalMetadata.configMap.labels }}
{{- $globalSharedAnnotations := $globalMetadata.shared.annotations }}
{{- $globalObjectAnnotations := $globalMetadata.configMap.annotations }}
{{- $localMetadata := .Values.collector.metadata -}}
{{- $localSharedAnnotations := $localMetadata.shared.annotations -}}
{{- $localObjectAnnotations := $localMetadata.configMap.annotations -}}
{{- $localSharedLabels := $localMetadata.shared.labels -}}
{{- $localObjectLabels := $localMetadata.configMap.labels -}}
{{- $localListenerIp := .Values.collector.specs.network.localListenerIp -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.name }}-{{ $localMetadata.name }}-{{ .Values.collector.specs.volumes.serviceConfig.name }}
  namespace: {{ .Values.collector.metadata.namespace | default .Values.global.namespace }}
  labels: {{ tpl ( toYaml $globalSharedLabels | nindent 4) $ }}
  {{- if $globalObjectLabels }}{{ tpl ( toYaml $globalObjectLabels | nindent 4) . }}{{- end }}
  {{- if $localSharedLabels }}{{ toYaml $localSharedLabels | nindent 4 }}{{- end }}
  {{- if $localObjectLabels }}{{ toYaml $localObjectLabels | nindent 4 }}{{- end }}
  annotations: {{- if $globalSharedAnnotations }}{{ tpl ( toYaml $globalSharedAnnotations | nindent 4) $ }}{{- end}}
  {{- if $globalObjectAnnotations }}{{ tpl ( toYaml $globalObjectAnnotations | nindent 4) . }}{{- end }}
  {{- if $localSharedAnnotations }}{{ toYaml $localSharedAnnotations | nindent 4 }}{{- end }}
  {{- if $localObjectAnnotations }}{{ toYaml $localObjectAnnotations | nindent 4 }}{{- end }}
data:
  {{ .Values.collector.specs.volumes.serviceConfig.fileName }}: |
    config_sources:
      aspecto:
        token: ${token}
        interval: {{ .Values.global.aspecto.interval | default 10 }}
    receivers:
      otlp:
        protocols:
    {{- range .Values.collector.specs.network.ports }}
      {{- if eq .name "grpc"}}
          grpc:
            endpoint: {{ $localListenerIp }}:{{ .internalPort }}
            max_recv_msg_size_mib: 4194304
      {{- end}}
      {{- if eq .name "http"}}
          http:
            endpoint: {{ $localListenerIp }}:{{ .internalPort }}
      {{- end}}
    {{- end}}
    processors:
      tail_sampling: $$aspecto:tail_sampling
      resource:
        attributes:
          - key: aspecto.customer.prem
            value: true
            action: insert
          - key: aspecto.token
            value: ${token}
            action: insert
          - key: deployment.environment
            value: {{ .Values.global.aspecto.environment }}
            action: insert
      batch:
    exporters:
      otlp:
        endpoint: {{ .Values.collector.specs.configuration.endpoint }}
        sending_queue:
          enabled: true
          queue_size: {{ .Values.collector.specs.configuration.queue_size }}
          num_consumers: {{ .Values.collector.specs.configuration.num_consumers }}
      {{- if .Values.collector.specs.configuration.log.enable }}
      logging:
        logLevel: {{ .Values.collector.specs.configuration.log.level }}
      {{- end }}

    {{- range .Values.collector.specs.network.ports }}
    {{- if eq .name "health-check"}}
    extensions:
      health_check:
        endpoint: {{ $localListenerIp }}:{{ .internalPort }}
    {{- end}}
    {{- end}}
    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers:
            - otlp
          processors: [tail_sampling, resource, batch]
          {{- if .Values.collector.specs.configuration.log.enable }}
          exporters: [otlp, logging]
          {{ else }}
          exporters: [otlp]
          {{- end }}
  